# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# SQLite databases
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# macOS
.DS_Store